@use '_variables.scss' as var;
@mixin centerflex {
  display: flex;
  justify-content: center;
  align-content: center;
}

h1 {
  text-align: center;
}

.calculator {
  * {
    font-size: 1.5rem;
    font-family: 'Courier New', Courier, monospace;
  }
  @include centerflex();
  height: 30rem;
  padding: 1rem;
  margin: auto;
  flex-direction: column;
  width: 22rem;
  border-radius: 2rem;
  gap: 1rem;
  .display {
    font-size: 3.4em;
    padding: .4rem;
    flex: 1.2;
    text-align: right;
  }
  .buttons {
    gap: .25em;
    flex: 7;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(8,1fr);

    button {
      border-radius: .3em;
      font-family: 'Courier New', Courier, monospace;
      grid-row: span 2;
    }

    .half-button {
      grid-row: span 1;
    }
    .double-button {
      grid-row: span 4;
    }
  }
}
